@import 'tailwindcss';
@import '../../vendor/tallstackui/tallstackui/css/v4.css';

@source '../views';
@source '../../vendor/tallstackui/tallstackui/**/*.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/forms';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-50: #eff8ff;
    --color-primary-100: #dff1ff;
    --color-primary-200: #b8e3ff;
    --color-primary-300: #79cdff;
    --color-primary-400: #31b5ff;
    --color-primary-500: #0693e3;
    --color-primary-600: #007dce;
    --color-primary-700: #0063a7;
    --color-primary-800: #035389;
    --color-primary-900: #094571;
    --color-primary-950: #062c4b;
}

.header {
    @apply sm:flex justify-between items-center mb-6 gap-4;
}
.header h1 {
    @apply text-xl font-bold text-primary-950 dark:text-gray-100;
}
